*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}
body,html{
	height:100%;
}
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans, Geneva", Verdana, sans-serif;
	font-size:11pt;
}
.row {
  display: flex;
  flex-flow: column wrap;
}
header {
  width: 100%;
}
h1 {
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  color: #26622B;
}
h1, img, a {
  border: solid;
  background: #fff;
}
div {
  text-align: center;
  font-size: 25px;
}
header, div, a {
  padding: 20px;
}
p {
  line-height: 22px;
  font-size: 20px;
}
a {
  width: 30%;
  text-decoration: none;
  color: #26622B;
  margin: 0 auto;
}
img {
  width: 330px;
  height: 330px;
}
